.screen{
    position:relative;
    width:100%;

}

.screen img{
    width:100vw;
    height:100vh;
}

.clickerButton button {
    position:relative;
    padding: 16px;
    background-color: rgb(241, 241, 241);
    border-radius: 16px;
    top: -70vh;
    left: 42.5vw;
    width:15vw;
    height:30vh;
    background-image:url("../assets/floppa.jpg");
    background-size:cover;
}

.incClicker button{
    position:relative;
    padding: 16px;
    background-color:black;
    border-radius: 16px;
    top:-65vh;
    left: 45%;
    width:11vw;
    height:7vh;
    color:aliceblue;
    font-size: 3vh
}

.achText{
    position:absolute;
    font-size: 3vmin;
    top:20vh;
    left:13vw;
    color:white;
    font-family:Helvetica;
    
}

.incTimer{
    position:absolute;
    top:68vh;
    left:40vw;
    color:white;
    font-family: Helvetica;
    font-size:3vh;
}


.counterLabelText {
    position:absolute;
    top:20vh;
    left:48%;
    color:white;
    font-family: Helvetica;
    font-size: 4vh;
}

.rewardLabelText{
    position:absolute;
    top:70vh;
    left:10vw;
    color:white;
    font-family: Helvetica;
    font-size: 3vh;    
}

.mainLabels img{
    position:absolute;
    top:11.3vh;
    left:8vw;
    width:20vw;
    height:20vh;
}

.textFrame img{
    position:absolute;
    top:30vh;
    width:20vw;
    height:40vh;    
}

.shopLabelText{
    position:absolute;
    top:20vh;
    left:73vw;
    font-size:3vmin;
    font-family: Helvetica;
    color:white;
}

.shop button{
    position:absolute;
    top:35vh;
    left:72.5vw;
    width:20vh;
    height:7vh;
    padding: 16px;
    border-radius: 16px;
    background-color:black;
    color:white;
    font-size:2.5vh
}